.point-details {
  margin-top: 1rem;
  display: flex;
  width: 78vw;
  height: 90vh;
}

img {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 10em;
  height: auto;
}

.text {
  padding-left: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.text, .contacts, .address, .phone, .url {
  font-size: 0.75rem;
}

.description {
  width: 100%;
}

 a, a:active, a:visited {
   text-decoration: none;
   color: #32c0c4;
 }
