<div fxFlex='400px'>
    <div fxLayout='row'>
        <button mat-button (click)='clearDetails()'>
            <mat-icon>chevron_right</mat-icon>
        </button>
        <div>
            <div>
                <div>{{ data.name }}</div>
                <div>
                    <div>{{ data.type }}</div>
                    <img src="./stock-fountain-image.jpg" alt="Stock Image" height="115" width="83">
                    <p>{{ data.description }}</p>
                    <div>Contacts</div>
                    <p>{{ data.address }}<br>
                        <br>Phone #<br>e-mail: </p>
                </div>
            </div>
        </div>