<div fxFlex='1 1 55%' class="point-details">
  <div fxLayout='row'>
      <button mat-button (click)='clearDetails()'>
          <mat-icon>chevron_right</mat-icon>
      </button>
      <div>
        <div>
            <div>{{ data.name }}</div>
            <div>
                <div>{{ data.type }}</div>
                <img src="././assets/photo_placeholder.png" alt="photo placeholder" height="115" width="83">
                <p>{{ data.description }}</p>
                <div>Contacts</div>
                <p>{{ data.address }}<br>
                    <br>Phone #<br><a href="{{data.contact_information.url}}" target=”_blank”>{{ data.contact_information.url}}</a> </p>
                  <!--<p>{{ data | json }}</p>-->
            </div>
        </div>
