/* Theme for creative-city-spaces*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */

.mat-background {
  background-color: rgba(255, 255, 255, 1); }

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #58585a; }

.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000000; }

.mat-warn .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ff0000; }

.mat-foreground .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #58585a; }
