<mat-toolbar class="toolbar">
  <img class = "logo" src = "./assets/culture_creative_services_logo.png">
  <h1>Creative City Spaces</h1>
  <div class="fill-remaining-space"></div>
  <div class="navigation">
      <a class="nav-link" routerLink="about" routerLinkActive="active" [routerLink] = "'/about'">About</a>
      <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLink] = "'/home'">Home</a>
  </div>
</mat-toolbar>

<div fxLayout='column' fxLayoutAlign='stretch' class="map-filter">
  <router-outlet></router-outlet>
</div>
