.background {
  height: 1vh;
}

mat-toolbar {
  margin-left: -0.50rem;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  width: 4rem;
  height: auto;
  margin-top: 0.0rem;
  margin-left: -0.50rem;
}

h1 {
  margin-left: 0.25rem;
  font-size: 2.5rem;
  font-weight: 100;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.navigation {
  margin-top: 1rem;
}

.navigation a {
  padding: 0.30rem;
  text-decoration: none;
  font-size: smaller;
}

.navigation a {
  color: #32c0c4;
}

.navigation a:active {
  color: white;
}

.navigation a:hover {
  color: white;
}

#skip-to-main-content {
  color: rgb(0,0,0,0)
}

#home {
  padding-right: 1rem;
}
