
<!--<button (click)="toggle()" id="bt">
     Places & Programs
</button>

<ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Places</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-place-filter></app-place-filter>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Programs</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-program-filter></app-program-filter>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</ng-container>

<mat-sidenav-container class="example-container">

<mat-sidenav #sidenav mode="push" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
               <div>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Places</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-place-filter></app-place-filter>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Programs</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-program-filter></app-program-filter>
                    </mat-expansion-panel>
                </mat-accordion>
              </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button aria-label="Toggle sidenav"mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
  </mat-sidenav-content>

</mat-sidenav-container>-->
