<div fxLayout='row'>
    <div class='map' fxFlex='1 1 100%' #map fxLayout='column'>
        <agm-map [latitude]='39.084573' [longitude]='-94.585204' [zoom]='12'>
            <agm-marker *ngFor='let p of points' [latitude]='p.lat' [longitude]='p.lng' (markerClick)='select(p)'
                [iconUrl]='getIcon(p)'>
            </agm-marker>
        </agm-map>
    </div>

    <app-point-details fxLayoutAlign='center start' fxFlex='50%' [data]='selected' *ngIf='showDetails()'
        (clear)='clearSelection()'>
    </app-point-details>
</div>