.fxFlex {
  height: 93vh;
  display: flex;
  z-index: 5;
}

.column {
  display: flex;
  height: 95vh;
  z-index: 1;
}

.example-container {
  margin-top: 1rem;
  height: 95vh;
  display: flex;
  z-index: 1;
}

.example-sidenav {
  height: 95vh;
  display: flex;
  z-index: 1;
}

.example-sidenav-content {
  height: 95vh;
  display: flex;
  width: 3.5rem;
  z-index: 1;
}

.filter-button {
  margin-top: 0.50rem;
  margin-left: 0.20rem;
  background-color: black;
  display: flex;
  z-index: 1;
}

mat-icon {
  margin-left: 0.50rem;
  text-align: center;
  display: flex;
  z-index: 1;
}

a, p {
  font-family: 'Oswald', sans-serif;
  z-index: 1;
}

a {
  font-size: 1.10em;
  font-weight: 200;
  width: 3rem;
  height: auto;
  z-index: 1;
}

.title {
  margin-top: -13.25rem;
  margin-left: -21rem;
  z-index: 1;
}

.logo {
  margin-top: 18rem;
  z-index: 1;
}

p {
  font-weight: 100;
  z-index: 1;
}

.vertical-text, img {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  z-index: 1;
}

.vertical-text {
  margin-top: -35rem;
  margin-left: -2.17rem;
  font-size: 2rem;
  width: 75vh;
  text-align: left;
  z-index: 1;
}

img {
  width: 3rem;
  margin-top: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

app-map-container {
  height: 1vh;
  z-index: 1;
}
