<div [formGroup]='form' fxLayout='column'>
    <button mat-raised-button color='accent' (click)='clear()'>Clear All Filters</button>
    <div>
        <mat-form-field>
            <input matInput formControlName='beginDate' [matDatepicker]="startPicker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName='endDate' [matDatepicker]="endPicker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color='accent' (click)='apply()'>Apply</button>
    </div>
    <div class='mat-subheading-1'>Types</div>
    <mat-checkbox *ngFor='let t of formTypes.controls; let i = index' [value]='typesData[i].type' [formControl]='t'>
        {{ typesData[i].type }}
    </mat-checkbox>
    <div>
        <button mat-raised-button [disabled]='!canApply()' color='accent' (click)='apply()'>Apply</button>
    </div>
    <hr />

    <div class='mat-subheading-1'>Primary Function</div>
    <mat-checkbox *ngFor='let p of formPriFunc.controls; let i = index' [value]='primaryFunctions[i].primary_function'
        [formControl]='p'>{{ primaryFunctions[i].primary_function }}
    </mat-checkbox>
    <div>
        <button mat-raised-button [disabled]='!canApply()' color='accent' (click)='apply()'>Apply</button>
    </div>

    <hr />

    <div class='mat-subheading-1'>Districts</div>
    <mat-checkbox *ngFor='let d of formDistricts.controls; let i = index' [formControl]='d'>
        {{ councilDistricts[i] }}</mat-checkbox>
</div>


<div>
    <button mat-raised-button [disabled]='!canApply()' color='accent' (click)='apply()'>Apply</button>
</div>