<form>
    Date<br>
    <input type="date" placeholder="Choose a date" name="eventdate"><br><br>
    Type<br>
        <select>
            <option value="type1+type2+type3">All</option>
            <option value="type1">Type1</option>
            <option value="type2">Type2</option>
            <option value="type3">Type3</option>
        </select><br><br>
    Primary Function<br>
        <select>
            <option value="primaryfunction1">Primary Function1</option>
            <option value="primaryfunction2">Primary Function2</option>
            <option value="primaryfunction3">Primary Function3</option>
        </select><br><br>
    Event Council District<br>
        <select>
            <option value="eventcouncildistrict1">Event Council District1</option>
            <option value="eventcouncildistrict2">Event Council District2</option>
            <option value="eventcouncildistrict3">Event Council District3</option>
        </select><br><br>
    <input type="submit"value="Submit">
    </form>