<!--NOTE: This componenet is not currently in use.
<div>
    <div id="iw-container">
        <div class="iw-title">{{ data.name }}</div>
        <div class="iw-content">
            <div class="iw-subTitle">{{ data.type }}</div>
            <img src="" alt="">
            <p class="iw-p">{{ data.description }}</p>
            <div class="iw-subTitle">Contacts</div>
            <p class="iw-p">{{ data.address }}<br>
                <br>Phone #<br>e-mail: </p>
        </div>
        <div class="iw-bottom-gradient"></div>
    </div>
</div>-->
