<div class="about">
    <p>
      The City of Kansas City, MO Cultural Asset Mapping initiative (a.k.a. Creative City Spaces) will support the creation of an online map of city-owned cultural
      assets and creative spaces in Kansas City. The City’s first comprehensive cultural asset map will provide residents and tourists with access to the city’s rich
      arts, culture and heritage within diverse neighborhoods. Assets include memorials and historical monuments, the City’s public art collection, museums, cultural
      centers, historic monuments and over 100 fountains across the city. The map/inventory will also list time-based events such as the City-sponsored events (i.e.
      festivals, bike/walk rides, homes tours, etc.) through the Neighborhood Tourist Development Fund. The second phase of the project will also identify, map and
      promote city-owned spaces such uses as rehearsals, community conversations, exhibitions and performances by artists and organizations. The final phase of the
      project will be to invest in commissions to activate underutilized city spaces located in zip codes with the lowest life expectancy. Project goals are to:<span class="list"><br>
      1) highlight the connections between arts and social impact in neighborhoods;<br>
      2) provide affordable work spaces for artists and organizations; and<br>
      3) increase arts use of publicly-owned property throughout the city.</span></p>
  </div>
  <footer fxLayoutAlign='center'>
    <img class = "codeforkc" src = "./assets/developed-by-codeforkc.png" alt="">
  </footer>

