<div class="about">
  <p>Did you know there are rich heritage and cultural sites just outside your front
  door? Creative City Spaces can help you find these rich locations in your neighborhood!
  We created an online map of memorials and historical monuments, Kansas City’s public
  art collections, cultural centers, and over 100 fountains! We also include a list of
  City events such as festivals, bike/walk rides, home tours and more!  These events and
  cultural locations are made possible through the City’s Neighborhood Tourist Development
  Fund, which supports up to 250 nonprofit organizations to help promote Kansas City’s
  distinct and diverse neighborhoods.</p>
  <p>There’s more to come! In the future, the map will promote city-owned creative spaces
  such uses as rehearsals, community conversations, exhibitions and performances by
  artists and organizations.</p>


  <footer fxLayoutAlign='center'>
    <img class="codeforkc" src="./assets/developed-by-codeforkc.png" alt="">
  </footer>

</div>
