<div class="about">
    <img src="././assets/culture_creative_services_logo.png" alt="Logo for Office of Culture and Creative Services">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla ultricies laoreet. Nunc ultricies risus eget sem posuere ultrices et et lorem. Sed non lobortis nisi. Suspendisse posuere semper erat, sed hendrerit quam varius at. Nam pulvinar nulla et odio pulvinar, sit amet auctor risus mattis. Sed gravida finibus ligula, ac vulputate sapien mollis ut. Vestibulum eget commodo justo, id bibendum leo. Maecenas sit amet ipsum in libero commodo facilisis. Pellentesque vitae sodales nibh. Duis molestie et urna vulputate cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed fermentum tincidunt dui, eget aliquet leo sodales eget. Mauris ac elit in nisi tincidunt vehicula ut at elit. Aenean condimentum nibh dolor, vel sollicitudin lectus dictum eget.
    </p>
  </div>

