#wrapper {
  width: 100px;
  padding-top:105px;
}

.do-go {
  width: 45px;
  height: auto;
  -webkit-transform:rotate-(90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding-left: 45px;
}

#go {
  margin-top: -45;
}

  h3 {
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    color: white;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 19px;
  }
